<!-- extend base layout -->
{% extends "template.html" %}
{% block title %}
<title> Haircut_reminder</title>
{% endblock %}
{% block css %}
<link href="/static/css/margin-top.css" rel="stylesheet">
{% endblock %}
            {% block pagename %}
            Haircut_reminder
            {% endblock %}
{% block content %}
<form name="dataForm" id="dataForm" action="note" method="POST">
<div class="row">
<div class="col-md-4 col-md-offset-4 top17">
     <label class="label label-primary" for="name">Name</label>
  <input type='text' name="name" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='Name'></input>
  </div></div>

    <div class="row">
    <div class="col-md-4 col-md-offset-4 top17">
    <label class="label label-primary" for="phone#">Phone#</label>
  <input type='text' name="phone#" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='Phone Number '></input>
</div>
    <label class="label label-primary" for="carrier">Select your carrier</label>
    <div class="row" name="carrier">
    <div class="col-md-4 col-md-offset-4 top17">

<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="tmobile">Tmobile
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="att"> ATT
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Verizon">Verizon
</label>
        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="sprint">Sprint
</label>
        </label>
        <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="boost">boost
</label>
                <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="virgin">virgin
</label>

  <input type='text' name="carrier" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='Phone Number '></input>
</div>
</div>
    <div class="row">
    <div class="col-md-4 col-md-offset-4 top17">
    <label class="label label-primary" for="location">Location</label>
  <input type='text' name="location" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='Location '></input>
</div>
</div>
        <div class="row">
    <div class="col-md-4 col-md-offset-4 top17">
    <label class="label label-primary" for="reccurence">recurrence</label>
  <input type='text' name="reccurence" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='#Weeks recurrence'></input>
</div>
</div>
      <div class="row">
<div class="col-md-4 col-md-offset-4 top30">
  <input class="btn btn-default form-control" name="submitbutton" id="submitbutton" type="submit" value="Submit"></input>
</div></div>




{% endblock %}
